#game-window{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.answer-container{
    display: flex;
    margin-bottom: 2.3rem;
    width: 100%;
    font-size: 2.8rem;
    border: 0.1rem solid rgba(32, 0, 75, 0.897); 
    background-color: white;
}
.answer-container:hover{
    cursor: pointer;
    background-color: rgb(222, 207, 241);
    box-shadow: 0 0.4rem 1.4rem 0 rgba(140, 64, 238, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}
.symbol {
    margin-bottom: 0;
    background-color: rgba(32, 0, 75, 0.897);
    padding: 1.8rem 2.8rem;
    color: white;
}
.answer {
    margin-bottom: 0;
    color: rgba(32, 0, 75, 0.897);
    padding: 1.8rem;
}